.game-board-wrapper {
  position: relative;
  width: 90vw;
  height: 90vw;
  min-width: 360px;
  min-height: 360px;
  max-height: 65vh;
  max-width: 65vh;
  overflow: hidden;
  border: 12px solid #ddd;
  margin: 0 auto;
}

.grid {
  display: grid;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.grid--3 {
  /* 5x5 grid: */
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 33.3% 33.3% 33.3%;
}

.grid--5 {
  /* 5x5 grid: */
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.grid--7 {
  /* 7x7 grid: */
  grid-template-columns: 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 14.29%;
  grid-template-rows: 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 14.29%;
}

.grid--9 {
  /* 9x9 grid: */
  grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% ;
  grid-template-rows: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% ;
}