body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#game {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	/* width: 90%; */
	/* margin-left: auto; */
	/* margin-right: auto; */
}

#board-ui {
	height: vh;
	/* flex: 2; */
}

#game-info {
	padding: 0px 10px;
	/* flex: 1; */
}
