.game-cell {
  height: 100%;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  /* NOTE: Copied from game-board.css : */
  border-right: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
