.game-cell {
  height: 100%;
  position: relative;
  width: 100%;
  /* NOTE: Copied from game-board.css : */
  border-right: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
